.post-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 90vw;
    height: 83vh;
}

.post-container video, .post-container img {
    width: 100%;
    height: 100%;
    align-content: center;
}

.post-info {
    background-color: #242424;
}

@media (max-width: 1440px) {
    .post-container video, .post-container img {
        width: 100%;
        height: 100%;
    }
}